.circle {
    position: absolute;
    border: 1px solid blue;
    background-color: rgba(0, 0, 255, 0.582);
    border-radius: 50%;

    padding: 0 3px;
    padding-bottom: 6px;
    bottom: 30px;
    right: 30px;

    text-align: center;
}
