.reaction {
    border: 1px solid black;
    border-radius: 5px;
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    background-color: gray;
    position: absolute;
    right: 0;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-around;
}

.reaction p {
    /* border: 1px solid green; */
    width: fit-content;
}

.reaction p:hover {
    font-size: 1.4em;
}