.home {
    border: 1px solid hotpink;
    height: 100%;
    width: 100%;
}

.main {
    border: 1px solid orange;
    height: 1030px;
    /* background-color: aliceblue; */
}

.main {
    border: 4px solid pink;
    min-width: 570px;
    max-width: 100%;
    width: 100%;
    height: 1030px;

    /* causing nav to shrink a bit ^ */

    overflow-y: scroll;
}

