div.error {
    background-color: rgba(220, 20, 60, 0.548);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}